{% load thumbnail %}

{% with user=action.user profile=action.user.profile %}
    <div class="actiondetail">
        <ul>
            <li>
                <hr> </hr>
                <div>
                    {% if profile.photo %}
                        {% thumbnail user.profile.photo "80x80" crop="100%" as img %}
                            <a href="{{ user.get_absolute_url }}">
                                <img src="{{img.url}}" alt="{{user.get_full_name}}">
                            </a>
                    {% endif %}

                    {% if action.target %}
                        {% with target=action.target %}
                            {% if target.image %}
                                {% thumbnail target.image "80x80" crop="100%" as img %}
                                <a href="{{ target.get_absolute_url }}">
                                    <img src="{{ img.url  }}">
                                </a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </div>

                <div class="userandaction">
                    <p>
                        <span class="useractiontime"> {{ action.created|timesince }} ago </span>
                        <br/>
                        <a href="{{ user.get_absolute_url }}">
                            {{ user.get_full_name }}
                        </a>
                        <span class="useraction"> {{ action.user_action }} </span>
                        {% if action.target %}
                            {% with target=action.target %}
                                <a href="{{ target.get_absolute_url }}"> {{ target }} </a>
                            {% endwith %}
                        {% endif %}
                    </p>
                </div>
            </li>
        </ul> 
    </div>
{% endwith %}